body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
    text-align: center;
}

header {
    background: #0b5ed7;
    color: white;
    padding: 20px;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 6px;
}

.whatsapp {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.notice {
    border-left: 6px solid #0b5ed7;
    background: #e9f2ff;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 12px 16px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}
